/*Written by Finn Zhan Chen*/
.navbar {
    background: rgba(255,255,255, 0.95);
    font-size: 1.5rem;
    font-family: "Dancing Script";
}


#socialmedia {
	margin-top: 8px;
}

#socialmedia tr td{
	padding-right: 5px;
}



footer {
  margin-top: 50px;
}

footer p {
  text-align: center;
}


.achievement {
	text-align: center;
}

.featurette{
	text-align: center;
}

#skills {
	background-image: url("../images/background.jpg");
}

#skills div {
	padding-top: 20px;
}

.listing div {
	padding-top: 15px;
}
